body {
    background-color: rgb(134, 134, 231);
    color: white;
    font-family:"Sofadi One" , system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: blueviolet;
    color: antiquewhite;
}